.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 16rem;
  height: 90vh;
  background-color: darkgray;
  padding: 1rem;
  margin-right:1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
}

.logoText {
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menuItem:hover {
  background-color: darkblue;
  transform: scale(1.05);
  border-radius: 10px;
}

.icon {
  font-size: 1.5rem;
}

.active {
  background-color: black;
  border-radius: 10px;
}

.logout {
  margin-top: auto;
  width: 100%;
  padding: 0.75rem 1rem;
}

.logout .menuItem {
  justify-content: center;
  font-weight: bold;
  color: white;
  gap: 0.5rem;
}

.logout .menuItem:hover {
  background-color: #a33e1e;
}
