.input {
    width: 94%;
    height: 0.7rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family:'NunitoSans-Regular', sans-serif;
}

.text{

}
