.inputT {
    width: 94%;
    height: 0.7rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family:'NunitoSans-Regular', sans-serif;
}

.inputField{
    position:relative;

}

.label{
    position:absolute;
    color:#8d8d8d;
    pointer-events:none;
    background-color:transparent;
    left:15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input{
    padding:10px 15px;
    font-size:1rem;
    border-radius:8px;
    border: 1px solid #8d8d8d;
    letter-spacing:1px;
    width:100%;
}

.input:focus{
    outline:none;
    border: 1px solid #0034de;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: #0034de;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}
/*
.focused{
    transform:translateY(-51%) translateX(-10px) scale(0.8);
    background-color:#fff;
    padding:0px 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius:100px;
} 
.input:focus + .label{
    transform:translateY(-51%) translateX(-10px) scale(0.8);
    background-color:#fff;
    padding:0px 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius:100px;
} */
