.container{
  display: flex;
  height: 100vh;
  align-items:center;
  justify-content: center;
  align-content: center; 
}
.form{
    display:flex;
  flex-direction:column;
  width:350px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    gap:5px;
}

.title{
  font-size:1.2rem;
  text-align:center;
  font-weight:bolder;
  margin-bottom:20px;
}

.inputBox{
  display:flex;
  flex:1;
  flex-direction:column;
  margin-top:10px;
  gap:10px;
  justify-content:space-between;
  justify-content:start;
  width: 90%;
  margin-bottom: 10px;
}

.button{
  width:'100%';

}

.icons{
  display:flex;
  font-size:100px;
  border-radius:10px;
  border-color:black;
  align-items: center;
  justify-content:center;
  margin-left:0px;
  margin-bottom:10px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}
