.container{
  display: flex;
  height: 100vh;
  align-items:center;
  justify-content: center;
  align-content: center; 
}
.form{
    width: 260px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.title{
  font-size:18px;
  text-align:center;
  margin-bottom:20px;
}

.inputBox{
  display:flex;
  flex:1;
  flex-direction:column;
  margin-top:10px;
  gap:10px;
  justify-content:space-between;
  justify-content:start;
  width: 100%;
  margin-bottom: 10px;
}

.button{
  width:'100%';
}
