.container{
  display: flex;
  height: 100vh;
  align-items:center;
  justify-content: center;
  align-content: center; 
}
.form{
  display:flex;
  flex-direction:column;
  width:350px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  gap:5px;   
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.title{
  font-size:1.2rem;
  text-align:center;
  font-weight:bolder;
  margin-bottom:20px;
}

.inputBox{
  display:flex;
  flex:1;
  flex-direction:column;
  margin-top:10px;
  gap:10px;
  justify-content:space-between;
  justify-content:start;
  width: 90%;
  margin-bottom: 10px;
}

.button{
  width:'100%';

}

.iconsContent{
  display:flex;
  align-items:center;
  justify-content: center;
  margin-bottom:15px;
}

.icons{
  display:flex;
  width: 150px;
  height: 150px;
  font-size:100px;
  color:white;
  background: linear-gradient(135deg,  #007bff 0%, #764ba2 100%);
  border: 20px solid linear-gradient(135deg, #764ba2 0%, #667eea 100%);;
  border-radius:50%;
  align-items: center;
  justify-content:center;
  transition: all 0.3s ease;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.boxBottom{
  margin-top:10px;
}
