.button{
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #0056b3;
}
