.container{
  display: flex;
  flex-direction:column;
  background-color:gray;
  width: 50vh;
  min-height: 50vh;
  margin-left:10px;
}

.titlePage{
  text-align:center;
  font-size:26px;
  font-weight: bold;
  margin-bottom:20px;
}
.text{
  font-size:16px;
  color:aliceblue;
}
.infoEdit{
  display:flex;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  border-width: 2px;
  gap:5px;
  padding: 10px;
}

.icons{
  display:flex;
  font-size:150px;
  border-radius:10px;
  border-color:black;
  align-items: center;
  justify-content:center;
  margin-left:20px;
}

.buttonContainer{
  display:flex;
  font-size:20px;
  gap:4px;
  padding:2px;
  align-items:center;
  justify-content:center;
}
